.header {
    background: $header-bg;
    color: $header-color;
    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: $header-height;
        max-width: $site-max-width;
        margin: 0 auto;
        padding: $space;
    }
    &__title {
        margin: 0;
    }
    &__logout {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    &__nav-toggle {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        @include desktop() {
            display: none;
        }
    }
}
