$large-font-size: 2.2rem;
$base-font-size: 1.6rem;
$site-max-width: 100rem;
//Spacing
$space: 1.4rem;
$large-space: calc(2 * #{$space});
//Colors
$brand-primary: #397ab1;
$gray: #ddd;
$light-gray: #f9f9f9;
$dark-gray: #777;
$danger: #ff5c5c;
//Body
$body-background-color: #fafafa;
$body-default-color: #333;
$font-family: Helvetica, Arial sans-serif;
//Header
$header-bg: $brand-primary;
$header-color: white;
$header-height: 6rem;
//Wrapper
$wrapper-sidebar-width: 30rem;
$wrapper-main-width: calc(#{$site-max-width} - #{$wrapper-sidebar-width});
$wrapper-content-height: calc(100vh - #{$header-height});
//Form inputs
$input-border: $gray;
$input-spacing: 1rem;
//Boxed view
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: white;
$boxed-view-border-color: $gray;
//Button
$button-bg: $brand-primary;
$button-color: white;
$button-color-normal: $dark-gray;
$button-bg-normal: $light-gray;
$button-border-normal: $gray;
//Item
$item-bg: $light-gray;
$item-border: darken($item-bg, 8%);
$item-border-width: 4px;
